.back-button {
  /*
	&:before {
		content: " ";
		display: block;
		width: 20px;
		height: 20px;
	}
*/ }
  .back-button svg {
    width: 14px;
    height: 14px; }
  .back-button__dark svg {
    fill: #000; }
  .back-button__light svg {
    fill: white; }

.button {
  display: inline-block;
  padding: 13px 25px;
  border-radius: 5px;
  background: royalblue;
  color: white;
  text-decoration: none; }

.close-button svg {
  width: 10px !important;
  height: 10px !important; }

.screen {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #fafafa; }
  .screen-header {
    text-align: center;
    color: black;
    width: 100%;
    color: white;
    /*
		background: white;
		box-shadow: $list-item-box-shadow;
*/ }
    .screen-header[data-color="red"] .screen-header__navigation {
      background: linear-gradient(to bottom, #fb4873, rgba(251, 72, 115, 0.7)); }
    .screen-header[data-color="blue"] .screen-header__navigation {
      background: linear-gradient(to bottom, #486ffb, rgba(72, 111, 251, 0.7)); }
    .screen-header[data-color="green"] .screen-header__navigation {
      background: linear-gradient(to bottom, #4cba8c, rgba(76, 186, 140, 0.7)); }
    .screen-header[data-color="yellow"] .screen-header__navigation {
      background: linear-gradient(to bottom, #f7ce3e, rgba(247, 206, 62, 0.7)); }
    .screen-header svg {
      width: 13px;
      height: 13px;
      fill: white;
      cursor: pointer; }
    .screen-header__navigation {
      width: 100%;
      line-height: 3rem;
      display: flex;
      justify-content: space-between; }
    .screen-header__title {
      font-size: 1.1rem; }
  .screen[data-color="red"] .screen-header__navigation {
    background: linear-gradient(to bottom, #fb4873, rgba(251, 72, 115, 0.7)); }
  .screen[data-color="red"] .check-label svg {
    fill: #fb4873; }
  .screen[data-color="red"] .footer-button svg {
    fill: #fb4873; }
  .screen[data-color="blue"] .screen-header__navigation {
    background: linear-gradient(to bottom, #486ffb, rgba(72, 111, 251, 0.7)); }
  .screen[data-color="blue"] .check-label svg {
    fill: #486ffb; }
  .screen[data-color="blue"] .footer-button svg {
    fill: #486ffb; }
  .screen[data-color="green"] .screen-header__navigation {
    background: linear-gradient(to bottom, #4cba8c, rgba(76, 186, 140, 0.7)); }
  .screen[data-color="green"] .check-label svg {
    fill: #4cba8c; }
  .screen[data-color="green"] .footer-button svg {
    fill: #4cba8c; }
  .screen[data-color="yellow"] .screen-header__navigation {
    background: linear-gradient(to bottom, #f7ce3e, rgba(247, 206, 62, 0.7)); }
  .screen[data-color="yellow"] .check-label svg {
    fill: #f7ce3e; }
  .screen[data-color="yellow"] .footer-button svg {
    fill: #f7ce3e; }
  .screen .footer-button svg {
    width: 11px;
    height: 11px;
    margin-right: 5px; }
  .screen .footer-button.disabled a {
    color: #ccc; }
  .screen .footer-button.disabled svg {
    fill: #ccc; }

.box {
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px; }

#group-item-overlay {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fafafa;
  overflow: scroll;
  padding-bottom: 125px; }

.group-item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: 100%; }
  .group-item.visible {
    left: 0; }
  .group-item .group-header {
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    background-size: 100% !important; }
    .group-item .group-header svg {
      width: 13px;
      height: 13px;
      fill: white; }
    .group-item .group-header__navigation {
      width: 100%;
      line-height: 3rem;
      display: flex;
      justify-content: space-between;
      padding: 0 15px; }
      .group-item .group-header__navigation .back-button {
        float: left; }
    .group-item .group-header__title {
      font-size: 1.2rem;
      font-weight: 600; }
    .group-item .group-header__total {
      font-size: 2.5rem;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      font-weight: 500;
      line-height: 50px;
      padding-bottom: 10px;
      display: none; }
    .group-item .group-header__tabs {
      background: white;
      border-bottom: 1px solid #ebebeb;
      border-top: 1px solid #ebebeb;
      margin-top: 1rem;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      margin-top: 0;
      font-size: 1.1rem; }
      .group-item .group-header__tabs__tab {
        display: inline-block;
        text-align: center;
        border-bottom: 3px solid transparent;
        color: gray;
        line-height: 3rem;
        margin: 0 1rem;
        cursor: pointer;
        font-weight: 600; }
        .group-item .group-header__tabs__tab.active {
          color: #000; }
  .group-item .group-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ebebeb;
    background: white; }
    .group-item .group-footer__title {
      font-size: 0.7rem;
      padding: 4px 15px;
      border-bottom: 1px solid #ebebeb; }
    .group-item .group-footer__items {
      padding: 0 15px; }
      .group-item .group-footer__items .group-list__item__participants__items__item {
        max-width: 50px; }
        .group-item .group-footer__items .group-list__item__participants__items__item img {
          max-width: 50px; }
        .group-item .group-footer__items .group-list__item__participants__items__item > div {
          display: none; }
  .group-item.red .group-header,
  .group-item.red .filter-all-placeholder {
    background: linear-gradient(to bottom, #fb4873, rgba(251, 72, 115, 0.7)); }
  .group-item.red .group-header__tabs__tab.active {
    border-color: #fb4873; }
  .group-item.red .group-expenses__filter__items__item.active {
    border-color: #fb4873; }
  .group-item.blue .group-header,
  .group-item.blue .filter-all-placeholder {
    background: linear-gradient(to bottom, #486ffb, rgba(72, 111, 251, 0.7)); }
  .group-item.blue .group-header__tabs__tab.active {
    border-color: #486ffb; }
  .group-item.blue .group-expenses__filter__items__item.active {
    border-color: #486ffb; }
  .group-item.yellow .group-header,
  .group-item.yellow .filter-all-placeholder {
    background: linear-gradient(to bottom, #f7ce3e, rgba(247, 206, 62, 0.7)); }
  .group-item.yellow .group-header__tabs__tab.active {
    border-color: #f7ce3e; }
  .group-item.yellow .group-expenses__filter__items__item.active {
    border-color: #f7ce3e; }
  .group-item.green .group-header,
  .group-item.green .filter-all-placeholder {
    background: linear-gradient(to bottom, #4cba8c, rgba(76, 186, 140, 0.7)); }
  .group-item.green .group-header__tabs__tab.active {
    border-color: #4cba8c; }
  .group-item.green .group-expenses__filter__items__item.active {
    border-color: #4cba8c; }
  .group-item.scroll .group-header__total {
    height: 0;
    display: none; }

.test-item {
  width: 49%;
  display: inline-block;
  vertical-align: top; }
  .test-item .group-person__item__owes__title {
    padding-bottom: 4px; }
  .test-item .group-list__item__participants__items.test-item-1 {
    border-right: 1px solid #ebebeb;
    padding-right: 10px; }
  .test-item .group-list__item__participants__items.test-item-2 {
    padding-left: 10px; }
  .test-item .group-list__item__participants__items__item {
    max-width: 100%;
    width: 100%;
    text-align: left;
    margin-bottom: 5px; }
    .test-item .group-list__item__participants__items__item img {
      max-width: 30px; }
    .test-item .group-list__item__participants__items__item span {
      font-size: 1rem;
      padding-left: 5px; }
    .test-item .group-list__item__participants__items__item div {
      display: inline-block;
      float: right;
      font-size: 1rem !important;
      padding-top: 4px; }

.group-body {
  padding-top: 15px;
  margin-top: 150px;
  margin-top: 95px; }

.group-tab-content {
  display: none; }
  .group-tab-content.active {
    display: block; }

.group-person__item__inner {
  background: white;
  margin: 5px 15px 0;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 15px; }

.group-person__item__title {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .group-person__item__title__name {
    display: inline-block;
    font-weight: 600;
    font-size: 1.3rem; }
    .group-person__item__title__name img {
      max-width: 35px;
      margin-right: 5px; }
  .group-person__item__title__price {
    display: inline-block;
    font-weight: 600;
    font-size: 1.3rem; }

.group-person__item__owes {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ebebeb; }
  .group-person__item__owes__title {
    text-transform: uppercase;
    color: gray;
    font-size: 0.7rem; }
  .group-person__item__owes .group-list__item__participants__items__item div {
    font-size: 1.1rem;
    font-weight: 600; }

.group-expenses {
  padding-top: 10px; }
  .group-expenses__item {
    background: white;
    margin: 5px 15px 0;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px 10px; }
    .group-expenses__item__title {
      font-size: 1.2rem;
      font-size: 1rem;
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .group-expenses__item__price {
      font-size: 1rem;
      font-weight: 600; }
    .group-expenses__item__by {
      color: gray;
      color: black;
      font-size: 0.8rem;
      font-size: 1rem;
      font-weight: 600; }
    .group-expenses__item.inactive {
      display: none; }
  .group-expenses h4 {
    text-transform: uppercase;
    padding: 0 15px;
    font-size: 0.7rem; }
  .group-expenses__filter {
    margin-bottom: 15px; }
    .group-expenses__filter__items {
      background: white;
      margin: 5px 15px 0;
      border-radius: 6px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 10px 15px 0px 15px; }
      .group-expenses__filter__items .group-list__item__participants__items__item {
        border-bottom: 3px solid transparent;
        cursor: pointer;
        width: 54px; }
    .group-expenses__filter .filter-all-placeholder {
      width: 54px;
      height: 54px;
      border-radius: 100%; }

.group-add {
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .group-add.visible {
    bottom: 0; }
  .group-add .group-name {
    padding-bottom: 0px;
    font-size: 1rem;
    line-height: 3rem;
    font-weight: 600;
    text-align: left;
    background: white; }
    .group-add .group-name input {
      text-align: left;
      padding-left: 15px;
      border: transparent;
      background: transparent;
      color: black;
      outline: none !important; }
  .group-add h4 {
    text-transform: uppercase;
    font-size: 0.7rem; }
  .group-add .currency {
    display: flex;
    justify-content: space-between;
    background: white;
    line-height: 50px;
    padding: 0 15px;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    font-weight: 500; }
    .group-add .currency svg {
      width: 13px;
      height: 13px; }
  .group-add__color {
    margin-top: 15px;
    padding: 0 15px; }
    .group-add__color-list {
      list-style: none;
      padding: 0;
      min-height: 50px;
      margin-top: 15px;
      background: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 15px;
      border-radius: 5px;
      -webkit-border-radius: 5px; }
      .group-add__color-list li {
        display: inline-block;
        background: gray;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        margin: 0 10px 0 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        vertical-align: middle;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
        .group-add__color-list li.red {
          background: linear-gradient(to bottom, #fb4873, rgba(251, 72, 115, 0.7)); }
        .group-add__color-list li.blue {
          background: linear-gradient(to bottom, #486ffb, rgba(72, 111, 251, 0.7)); }
        .group-add__color-list li.green {
          background: linear-gradient(to bottom, #4cba8c, rgba(76, 186, 140, 0.7)); }
        .group-add__color-list li.yellow {
          background: linear-gradient(to bottom, #f7ce3e, rgba(247, 206, 62, 0.7)); }
        .group-add__color-list li.active {
          width: 40px;
          height: 40px;
          margin: 0 10px 0 0;
          position: relative; }
          .group-add__color-list li.active:after {
            content: " ";
            position: absolute;
            top: -5px;
            left: -5px;
            width: 50px;
            height: 50px;
            background: transparent;
            border: 1px solid #585757;
            border-radius: 100%; }
  .group-add__participants {
    padding: 0 15px;
    /*
		&[data-color="red"] {
			.check-label{
				background: $red;				
			}
		}
		&[data-color="blue"] {
			.check-label{
				background: $blue;				
			}
		}
		&[data-color="green"] {
			.check-label{
				background: $green;				
			}
		}
		&[data-color="yellow"] {
			.check-label{
				background: $yellow;				
			}
		}	
*/ }
    .group-add__participants .box {
      margin-top: 15px; }
      .group-add__participants .box h4 {
        padding-top: 0;
        padding-bottom: 10px; }
    .group-add__participants .group-list__item__participants__items__item {
      position: relative;
      opacity: 0.2;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      cursor: pointer; }
      .group-add__participants .group-list__item__participants__items__item .check-label {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        position: absolute;
        top: -4px;
        right: -4px;
        display: none;
        background: #5CAC4C; }
        .group-add__participants .group-list__item__participants__items__item .check-label svg {
          width: 7px;
          height: 7px;
          margin-top: -8px;
          display: none; }
        .group-add__participants .group-list__item__participants__items__item .check-label:before {
          content: " ";
          display: block;
          width: 8px;
          height: 8px;
          background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2232.229px%22%20height%3D%2232.229px%22%20viewBox%3D%220%200%2032.229%2032.229%22%20style%3D%22enable-background%3Anew%200%200%2032.229%2032.229%3B%22%0D%0A%09%20xml%3Aspace%3D%22preserve%22%20fill%3D%22white%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20d%3D%22M31.496%2C9.374L14.477%2C26.391c-0.469%2C0.471-1.104%2C0.732-1.768%2C0.732c-0.664%2C0-1.299-0.263-1.768-0.732L0.733%2C16.183%0D%0A%09%09c-0.978-0.976-0.978-2.559%2C0-3.534c0.977-0.977%2C2.559-0.977%2C3.535%2C0l8.44%2C8.439l15.25-15.25c0.977-0.977%2C2.559-0.977%2C3.534%2C0%0D%0A%09%09C32.473%2C6.815%2C32.473%2C8.398%2C31.496%2C9.374z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A");
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -4px;
          margin-left: -4px; }
      .group-add__participants .group-list__item__participants__items__item.checked {
        opacity: 1; }
        .group-add__participants .group-list__item__participants__items__item.checked .check-label {
          display: block; }
  .group-add__contacts {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ebebeb;
    padding-top: 15px; }
  .group-add .footer-button {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 0; }
    .group-add .footer-button svg {
      width: 11px;
      height: 11px;
      margin-right: 5px; }
    .group-add .footer-button[data-color="red"] svg {
      fill: #fb4873; }
    .group-add .footer-button[data-color="blue"] svg {
      fill: #486ffb; }
    .group-add .footer-button[data-color="green"] svg {
      fill: #4cba8c; }
    .group-add .footer-button[data-color="yellow"] svg {
      fill: #f7ce3e; }

.test-add-group {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #fafafa;
  overflow: scroll; }
  .test-add-group .screen-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: black;
    width: 100%;
    color: white; }
    .test-add-group .screen-header__navigation {
      width: 100%;
      line-height: 3rem;
      display: flex;
      justify-content: space-between; }
    .test-add-group .screen-header__title {
      font-size: 1.1rem; }
  .test-add-group[data-color="red"] {
    background: linear-gradient(to bottom, #fb4873, rgba(251, 72, 115, 0.7));
    background: #fb4873; }
  .test-add-group[data-color="blue"] {
    background: linear-gradient(to bottom, #486ffb, rgba(72, 111, 251, 0.7));
    background: #486ffb; }
  .test-add-group[data-color="green"] {
    background: linear-gradient(to bottom, #4cba8c, rgba(76, 186, 140, 0.7));
    background: #4cba8c; }
  .test-add-group[data-color="yellow"] {
    background: linear-gradient(to bottom, #f7ce3e, rgba(247, 206, 62, 0.7));
    background: #f7ce3e; }
  .test-add-group .group-name {
    background: transparent;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 200px; }
    .test-add-group .group-name input {
      background: transparent;
      text-align: center;
      padding: 0;
      color: white;
      font-weight: 600; }
      .test-add-group .group-name input::placeholder {
        color: white; }
  .test-add-group .screen-body {
    height: calc(100% - 350px); }
  .test-add-group .group-add__color {
    background: white;
    bottom: 55px;
    width: 100%;
    text-align: center;
    padding: 15px 0 10px; }
    .test-add-group .group-add__color-list {
      padding: 0;
      /*
				-webkit-box-shadow:0 0 0 rgba(0, 0, 0, 0.1) !important;
				box-shadow: 0 0 0 rgba(0, 0, 0, 0.1) !important;
*/
      background: transparent;
      margin: 0; }
      .test-add-group .group-add__color-list li {
        width: 40px;
        height: 40px; }
        .test-add-group .group-add__color-list li.active {
          width: 45px;
          height: 45px; }
          .test-add-group .group-add__color-list li.active:after {
            width: 55px;
            height: 55px; }
  .test-add-group .currency {
    width: 100%;
    position: absolute;
    bottom: 55px;
    display: block;
    text-align: center;
    display: none; }
    .test-add-group .currency > div {
      display: inline-block; }
      .test-add-group .currency > div svg {
        margin-left: 2px; }
    .test-add-group .currency .currency__title {
      display: none; }
  .test-add-group .footer-button {
    position: relative;
    background: white;
    line-height: 3.8rem;
    height: 62px;
    border-bottom: 1px solid #ebebeb; }
    .test-add-group .footer-button a {
      color: black;
      display: inline-block;
      width: 49%;
      font-size: 1rem; }
      .test-add-group .footer-button a.left {
        float: left;
        border-right: 1px solid #ebebeb; }
      .test-add-group .footer-button a.right {
        float: right; }
      .test-add-group .footer-button a > svg {
        fill: black !important;
        width: 13px;
        height: 13px;
        margin-left: 5px; }
    .test-add-group .footer-button svg {
      width: 20px;
      height: 20px;
      margin-left: 10px; }
  .test-add-group .participants {
    background: white; }
    .test-add-group .participants .box {
      box-shadow: 0 0 0 transparent !important;
      padding: 0; }
    .test-add-group .participants .group-add__participants {
      padding: 30px 20px 250px;
      overflow: hidden; }
      .test-add-group .participants .group-add__participants h4 {
        padding-bottom: 20px;
        text-align: center;
        display: none; }
      .test-add-group .participants .group-add__participants .group-add__contacts {
        border: 0; }
      .test-add-group .participants .group-add__participants .group-list__item__participants__items__item {
        position: relative; }
        .test-add-group .participants .group-add__participants .group-list__item__participants__items__item .check-label {
          width: 60px;
          height: 60px;
          border-radius: 100%;
          background: transparent;
          border: 1px solid green;
          position: absolute;
          top: -3px;
          left: -3px; }
          .test-add-group .participants .group-add__participants .group-list__item__participants__items__item .check-label svg {
            display: none; }
          .test-add-group .participants .group-add__participants .group-list__item__participants__items__item .check-label:before {
            display: none; }
      .test-add-group .participants .group-add__participants .group-add__contacts-item {
        font-weight: 600; }

.group-expenses-add {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  bottom: -100%; }
  .group-expenses-add h4 {
    text-transform: uppercase;
    padding: 0;
    font-size: 0.7rem; }
  .group-expenses-add.visible {
    bottom: 0; }
  .group-expenses-add .user-name {
    padding-bottom: 1rem; }
    .group-expenses-add .user-name img {
      max-width: 50px;
      margin-right: 10px; }
    .group-expenses-add .user-name span {
      font-weight: 500;
      font-size: 1.3rem; }
    .group-expenses-add .user-name > div {
      display: none; }
  .group-expenses-add__description {
    background: white;
    margin-bottom: 1rem;
    margin: 15px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem; }
    .group-expenses-add__description div {
      line-height: 60px;
      border-bottom: 1px solid #ebebeb; }
      .group-expenses-add__description div input {
        margin: 0 15px;
        outline: none !important;
        font-weight: 500;
        font-size: 1.3rem;
        border: 0; }
        .group-expenses-add__description div input[type="number"] {
          width: 70%; }
      .group-expenses-add__description div:last-child {
        border-bottom: 0; }
      .group-expenses-add__description div span {
        font-weight: 500;
        display: none; }
      .group-expenses-add__description div svg {
        width: 12px;
        height: 12px;
        margin-left: 5px; }
  .group-expenses-add .edit-sums {
    padding: 10px 0 0px 0;
    margin-top: 10px;
    border-top: 1px solid #ebebeb;
    font-weight: 500;
    text-align: center; }
    .group-expenses-add .edit-sums svg {
      width: 13px;
      margin-right: 5px; }
  .group-expenses-add .edit-block {
    margin-top: 20px; }
    .group-expenses-add .edit-block__user {
      border-bottom: 1px solid #ebebeb;
      padding: 10px 0; }
      .group-expenses-add .edit-block__user-name {
        display: inline-block;
        font-size: 20px;
        font-weight: 500; }
        .group-expenses-add .edit-block__user-name img {
          max-width: 30px;
          margin-right: 5px; }
      .group-expenses-add .edit-block__user-amount {
        display: inline-block;
        float: right; }
        .group-expenses-add .edit-block__user-amount input {
          text-align: right;
          font-weight: 500;
          font-size: 20px; }
      .group-expenses-add .edit-block__user:last-child {
        border-bottom: 0; }
  .group-expenses-add .footer-button {
    position: absolute;
    bottom: 0; }
  .group-expenses-add-single {
    position: relative;
    bottom: 0; }
    .group-expenses-add-single .screen-header__navigation {
      height: 100px; }
      .group-expenses-add-single .screen-header__navigation .screen-header__title {
        font-size: 0.9rem; }
    .group-expenses-add-single .user-expense {
      background: white;
      margin-bottom: 20px;
      color: black;
      border-bottom: 1px solid #ebebeb; }
      .group-expenses-add-single .user-expense .user-name {
        font-weight: 600;
        font-size: 20px;
        padding-top: 15px;
        -webkit-transition: 0.2s;
        -ms-transition: 0.2s;
        transition: 0.2s; }
      .group-expenses-add-single .user-expense img {
        max-width: 94px;
        margin-top: -47px;
        -webkit-transition: 0.2s;
        -ms-transition: 0.2s;
        transition: 0.2s; }
    .group-expenses-add-single .group-expenses-add__description {
      box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
      margin-top: 10px;
      -webkit-transition: 0.2s;
      -ms-transition: 0.2s;
      transition: 0.2s; }
      .group-expenses-add-single .group-expenses-add__description-title {
        border-bottom: 0; }
        .group-expenses-add-single .group-expenses-add__description-title input {
          font-weight: 400;
          font-size: 22px; }
      .group-expenses-add-single .group-expenses-add__description div {
        line-height: 45px; }
        .group-expenses-add-single .group-expenses-add__description div input {
          text-align: center;
          width: 96%; }
          .group-expenses-add-single .group-expenses-add__description div input::placeholder {
            color: #B0B1AE; }
      .group-expenses-add-single .group-expenses-add__description-price input {
        font-size: 35px;
        font-weight: 600; }
    .group-expenses-add-single .screen-header {
      position: fixed;
      top: 0;
      z-index: 10; }
      .group-expenses-add-single .screen-header.scrolled .user-expense img {
        max-width: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0); }
      .group-expenses-add-single .screen-header.scrolled .user-name {
        position: absolute;
        width: 100%;
        top: 40px;
        color: white; }
      .group-expenses-add-single .screen-header.scrolled .group-expenses-add__description {
        margin-top: -15px;
        margin-bottom: 0; }
        .group-expenses-add-single .screen-header.scrolled .group-expenses-add__description div {
          display: inline-block;
          width: 45%; }
    .group-expenses-add-single .screen-body {
      position: relative;
      margin-top: 360px; }

body {
  background: #fafafa;
  padding-top: 0;
  padding-bottom: 60px; }

a {
  color: #000; }
  a:hover {
    color: #000;
    text-decoration: none; }

.group-list {
  margin-top: 1rem; }
  .group-list h4 {
    margin-bottom: 1.2rem;
    font-size: 1.4rem; }
  .group-list__item {
    position: relative;
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
    .group-list__item__indicator {
      position: absolute;
      top: 0;
      left: 10px;
      display: block;
      height: 3px;
      max-width: 94%; }
    .group-list__item:nth-child(2) .indicator {
      background: #FB4873; }
    .group-list__item:nth-child(3) .indicator {
      background: #486FFB; }
    .group-list__item:nth-child(4) .indicator {
      background: #F7CE3E; }
    .group-list__item:nth-child(5) .indicator {
      background: #4CBA8C; }
    .group-list__item__title {
      font-size: 1.5rem; }
      .group-list__item__title__name {
        display: inline-block;
        font-weight: 600; }
      .group-list__item__title__price {
        display: inline-block;
        float: right;
        font-weight: 600; }
    .group-list__item__participants {
      margin-top: 0.5rem; }
      .group-list__item__participants__title {
        color: gray;
        font-size: 0.7rem;
        text-transform: uppercase; }
      .group-list__item__participants__items {
        margin-top: 0.5rem; }
        .group-list__item__participants__items__item {
          max-width: 54px;
          text-align: center;
          display: inline-block;
          margin-right: 5px;
          cursor: pointer; }
          .group-list__item__participants__items__item img {
            margin: auto;
            width: 100%; }
          .group-list__item__participants__items__item span {
            font-size: 0.8rem;
            color: gray; }
          .group-list__item__participants__items__item > div {
            font-weight: 600; }

.footer-button {
  display: block;
  background-color: white !important;
  border-top: 1px solid #ebebeb;
  width: 100%;
  line-height: 3.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  z-index: 1; }

#test1 .test-add-group {
  background: white !important; }
  #test1 .test-add-group .screen-header {
    background: white;
    color: black; }
    #test1 .test-add-group .screen-header .screen-header__navigation {
      background: white; }
    #test1 .test-add-group .screen-header svg {
      fill: black; }
  #test1 .test-add-group .screen-body {
    height: calc(100% - 300px); }
  #test1 .test-add-group .group-name input {
    color: black; }
    #test1 .test-add-group .group-name input::placeholder {
      color: gray; }
  #test1 .test-add-group .group-add__color {
    display: none; }
