#group-item-overlay {
	background: white;
	position: fixed;
	top:0;
	width: 100%;
	height: 100%;
	z-index: 2;
	box-shadow: $list-item-box-shadow;
	background: $bg-color;
// 	height: calc(100% - 108px);
// 	height: calc(100% - 98px);
	overflow: scroll;
	padding-bottom: 125px;
}

.group-item {
	-webkit-transition: 0.3s;
	transition: 0.3s;
	left: 100%;
	&.visible {
		left:0; 
	}
	
	.group-header {
		text-align: center;
		color: white;
		position: fixed;
		width: 100%;
// 		background: white !important;
// 		background: url('../img/group-bg-4.png') !important;
		background-size: 100% !important;
		
		svg {
			width: 13px;
			height: 13px;
			fill: white;
		}
		
		&__navigation {
			width: 100%;
			line-height: 3rem;
		    display: flex;
		    justify-content: space-between;		
		    padding: 0 15px;
// 		    background: white !important;	
			
			.back-button {
				float: left;
			}
		}
		
		&__title {
			font-size: 1.2rem;
			font-weight: 600;
		}
		
		&__total {
			font-size: 2.5rem;
			-webkit-transition: 0.3s;
			transition: 0.3s;	
			font-weight: 500;
			line-height: 50px;	
			padding-bottom: 10px;	
			display: none;
		}
		
		&__tabs {
			background: white;
			border-bottom: 1px solid $border-color;
			border-top: 1px solid $border-color;
			margin-top: 1rem;
			-webkit-transition: 0.3s;
			transition: 0.3s;	
			margin-top:0;		
			font-size: 1.1rem;	
			
			&__tab {
				display: inline-block;
				text-align: center;
				border-bottom: 3px solid transparent;
				color: gray;
				line-height: 3rem;
				margin: 0 1rem;
				cursor: pointer;
				font-weight: 600;
				
				&.active {
					color: $color-black;
				}
			}
		}
	}
	
	.group-footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		border-top:1px solid $border-color;
		background: white;
		
		&__title{
			font-size: 0.7rem;
			padding: 4px 15px;
			border-bottom: 1px solid $border-color;
		}
		&__items {
			padding: 0 15px;
			.group-list__item__participants__items__item {
				max-width: 50px;
				img {
					max-width: 50px;
				}
				span {
// 					font-size: 0.7rem;
				}
				>div {
					display: none;
				}
			}
		}
	}
	
	//red
	&.red {
		.group-header,
		.filter-all-placeholder {
			background: linear-gradient(to bottom, $red, $light-red);
		}
		
		.group-header__tabs__tab {
			&.active {
				border-color: $red;
			}
		}
		
		.group-expenses__filter__items__item {
			&.active {
				border-color: $red;
			}
		}
	}
	//blue
	&.blue {
		.group-header,
		.filter-all-placeholder {
			background: linear-gradient(to bottom, $blue, $light-blue);
		}
		
		.group-header__tabs__tab {
			&.active {
				border-color: $blue;
			}
		}
		
		.group-expenses__filter__items__item {
			&.active {
				border-color: $blue;
			}
		}
	}
	//yellow
	&.yellow {
		.group-header,
		.filter-all-placeholder {
			background: linear-gradient(to bottom, $yellow, $light-yellow);
		}
		
		.group-header__tabs__tab {
			&.active {
				border-color: $yellow;
			}
		}
		
		.group-expenses__filter__items__item {
			&.active {
				border-color: $yellow;
			}
		}
	}	
	//green
	&.green {
		.group-header,
		.filter-all-placeholder {
			background: linear-gradient(to bottom, $green, $light-green);
		}
		
		.group-header__tabs__tab {
			&.active {
				border-color: $green;
			}
		}
		
		.group-expenses__filter__items__item {
			&.active {
				border-color: $green;
			}
		}
	}			
	
	&.scroll {
		.group-header__total {			
			height: 0;
			display: none;
		}
	}	
}

.test-item {
	width: 49%;
	display: inline-block;
	vertical-align: top;
	.group-list__item__participants__items {
		
		&.test-item-1 {
			border-right: 1px solid #ebebeb;
			padding-right: 10px;
		}
		&.test-item-2 {
			padding-left: 10px;
		}
	}
	.group-list__item__participants__items__item {
		max-width: 100%;
		width: 100%;
		text-align: left;
		margin-bottom: 5px;
		
		img {
			max-width: 35px;
		}
		span {
			font-size: 1rem;
			padding-left: 5px;
		}
		div {
			display: inline-block;
			float: right;
			font-size: 1rem !important;
			padding-top: 5px;
		}
	}
}