.group-expenses-add {
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	bottom: -100%;
	
	h4 {
		text-transform: uppercase;
	    padding: 0;
	    font-size: 0.7rem;		
	}
	
	&.visible {
		bottom: 0;
	}
	
	.user-name {
		padding-bottom: 1rem;
		img {
			max-width: 50px;
			margin-right: 10px;
		}
		span {
			font-weight: 500;
			font-size: 1.3rem;
		}
		>div {
			display: none;
		}
	}
	
	&__description {
// 		width: 100%;
		background: white;
// 		border-bottom: 1px solid $border-color;
		margin-bottom: 1rem;
		margin: 15px;
		border-radius: $list-item-border-radius;
		box-shadow: $list-item-box-shadow;
		margin-bottom: 1.5rem;
		div {
			line-height: 60px;
			border-bottom: 1px solid $border-color;
			input {
// 				width: 100%;
				margin: 0 15px;
				outline: none !important;
				font-weight: 500;
				font-size: 1.3rem;
				border: 0;
				
				&[type="number"] {
					width: 70%;
				}
			}
			
			&:last-child {
				border-bottom: 0;
			}
			
			span{
				font-weight: 500;
				display: none;
			}
			
			svg {
				width: 12px;
				height: 12px;
				margin-left: 5px;
			}
		}
	}
	
	.edit-sums {
		padding: 10px 0 0px 0;
	    margin-top: 10px;
	    border-top: 1px solid #ebebeb;
	    font-weight: 500;		
	    text-align: center;    
	    svg {
		    width: 13px;
		    margin-right: 5px;
	    }		
	}
	
	.edit-block {
		margin-top:20px;
		&__user {
			border-bottom: 1px solid $border-color;
			padding: 10px 0;
			&-name {
				display: inline-block;
				font-size: 20px;
				font-weight: 500;
				img{
					max-width: 30px;				
					margin-right: 5px;
				}
			}
			&-amount {
				display: inline-block;
				float: right;
				input {
					text-align: right;
					font-weight: 500;
					font-size: 20px;
				}
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}

	.footer-button {
		position: absolute;
		bottom: 0;
	}
}