.group-add {
	position: fixed;
	box-shadow: $list-item-box-shadow;
	bottom:-100%;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	-webkit-transition: 0.4s;
	transition: 0.4s;	
	
	&.visible {
		bottom:0;
	}
	
	.group-name {
		padding-bottom: 20px;		
		font-size: 1.3rem;
		input {
			text-align: center;
			border: transparent;
			background: transparent;	
			color: white;	
			outline: none !important;
			&::placeholder {
// 				color: black;
				color: rgba(255,255,255, 1);
			}	
		}
	}
	
	h4 {
	    text-transform: uppercase;
	    padding: 15px 0 0;
	    font-size: 0.7rem;		
	}	
	
	.currency {
		display: flex;
		justify-content: space-between;
		background: white;
		line-height: 50px;
		padding: 0 15px;
		border-bottom: 1px solid $border-color;
		font-weight: 500;
		svg {
			width: 13px;
			height: 13px;
		}
	}
	
	&__color {
		margin-top: 15px;
		padding:  0 15px;
		&-list {
			list-style: none;
			padding: 0;
			min-height: 40px;
			margin-top:15px;
			li {
				display: inline-block;
				background: gray;
				border-radius: 100%;
				width: 25px;
				height: 25px;
				margin: 0 10px 0 0;
				box-shadow: $list-item-box-shadow;
				cursor: pointer;
				vertical-align: middle;
				-webkit-transition: 0.3s;
				transition: 0.3s;
				
				
				&.red {
					background: linear-gradient(to bottom, $red, $light-red);
				}
				&.blue {
					background: linear-gradient(to bottom, $blue, $light-blue);
				}
				&.green {
					background: linear-gradient(to bottom, $green, $light-green);
				}	
				&.yellow {
					background: linear-gradient(to bottom, $yellow, $light-yellow);
				}											
				
				&.active {
// 					border: 3px solid white;
					width: 40px;
					height: 40px;
					margin: 0 10px 0 0;
				}
			}
		}
	}
	
	&__participants {
		padding:  0 15px;
		.group-list__item__participants__items__item {
			position: relative;
			opacity: 0.2;
			-webkit-transition: 0.3s;
			transition: 0.3s;
			cursor: pointer;
			.check-label{
				width: 20px;
				height: 20px;
				border-radius: 100%;				
				position: absolute;
				top:-4px;
				right: -4px;
				display: none;
				
				&:before {
					content: " ";
					display: block;
					width: 12px;
					height: 12px;
					background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2232.229px%22%20height%3D%2232.229px%22%20viewBox%3D%220%200%2032.229%2032.229%22%20style%3D%22enable-background%3Anew%200%200%2032.229%2032.229%3B%22%0D%0A%09%20xml%3Aspace%3D%22preserve%22%20fill%3D%22white%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20d%3D%22M31.496%2C9.374L14.477%2C26.391c-0.469%2C0.471-1.104%2C0.732-1.768%2C0.732c-0.664%2C0-1.299-0.263-1.768-0.732L0.733%2C16.183%0D%0A%09%09c-0.978-0.976-0.978-2.559%2C0-3.534c0.977-0.977%2C2.559-0.977%2C3.535%2C0l8.44%2C8.439l15.25-15.25c0.977-0.977%2C2.559-0.977%2C3.534%2C0%0D%0A%09%09C32.473%2C6.815%2C32.473%2C8.398%2C31.496%2C9.374z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
						background-repeat: no-repeat;	
						background-size: cover;		
						position: absolute;
						top:50%;
						left: 50%;
						margin-top: -6px;
						margin-left: -6px;		
				}
			}
			
			&.checked {
				opacity: 1;
				.check-label {
					display: block;
				}
			}
		}
		
/*
		&[data-color="red"] {
			.check-label{
				background: $red;				
			}
		}
		&[data-color="blue"] {
			.check-label{
				background: $blue;				
			}
		}
		&[data-color="green"] {
			.check-label{
				background: $green;				
			}
		}
		&[data-color="yellow"] {
			.check-label{
				background: $yellow;				
			}
		}	
*/					
	}
	
	&__contacts {
		margin-top:1rem;
		display: flex;
		justify-content: space-between;
	}
	
	.footer-button {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		z-index: 0;
		
		svg {
			width: 11px;
			height: 11px;
			margin-right: 5px;
		}
		
		&[data-color="red"] {
			svg {
				fill: $red;
			}
		}
		&[data-color="blue"] {
			svg {
				fill: $blue;
			}
		}
		&[data-color="green"] {
			svg {
				fill: $green;
			}
		}
		&[data-color="yellow"] {
			svg {
				fill: $yellow;
			}
		}						
	}
}