.group-expenses-add {
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	bottom: -100%;
	
	h4 {
		text-transform: uppercase;
	    padding: 0;
	    font-size: 0.7rem;		
	}
	
	&.visible {
		bottom: 0;
	}
	
	.user-name {
		padding-bottom: 1rem;
		img {
			max-width: 50px;
			margin-right: 10px;
		}
		span {
			font-weight: 500;
			font-size: 1.3rem;
		}
		>div {
			display: none;
		}
	}
	
	&__description {
// 		width: 100%;
		background: white;
// 		border-bottom: 1px solid $border-color;
		margin-bottom: 1rem;
		margin: 15px;
		border-radius: $list-item-border-radius;
		box-shadow: $list-item-box-shadow;
		margin-bottom: 1.5rem;
		div {
			line-height: 60px;
			border-bottom: 1px solid $border-color;
			input {
// 				width: 100%;
				margin: 0 15px;
				outline: none !important;
				font-weight: 500;
				font-size: 1.3rem;
				border: 0;
				
				&[type="number"] {
					width: 70%;
				}
			}
			
			&:last-child {
				border-bottom: 0;
			}
			
			span{
				font-weight: 500;
				display: none;
			}
			
			svg {
				width: 12px;
				height: 12px;
				margin-left: 5px;
			}
		}
	}
	
	.edit-sums {
		padding: 10px 0 0px 0;
	    margin-top: 10px;
	    border-top: 1px solid #ebebeb;
	    font-weight: 500;		
	    text-align: center;    
	    svg {
		    width: 13px;
		    margin-right: 5px;
	    }		
	}
	
	.edit-block {
		margin-top:20px;
		&__user {
			border-bottom: 1px solid $border-color;
			padding: 10px 0;
			&-name {
				display: inline-block;
				font-size: 20px;
				font-weight: 500;
				img{
					max-width: 30px;				
					margin-right: 5px;
				}
			}
			&-amount {
				display: inline-block;
				float: right;
				width: 60px;
				input {
					text-align: right;
					font-weight: 500;
					font-size: 20px;
					border: 0;
					width: 100%;
// 					padding-right: 5px;
				}
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}

	.footer-button {
		position: fixed;
		bottom: 0;
	}
	
	&-single {
		position: relative;
		bottom: 0; 
		
		.screen-header__navigation {
			height: 100px;
			@include transition(0.2s);
			.screen-header__title {
				font-size: 0.9rem;
			}
			
			.usr-name {
				display: none;
				font-weight: 600;
			}
		}
		
		.user-expense {
			background: white;
			margin-bottom: 20px;
			color: black;
			border-bottom: 1px solid $border-color;
			
			.user-name {
				font-weight: 600;
				font-size: 20px;
				padding-top: 15px;
				@include transition(0.2s);
			}
			
			img {
				max-width: 94px;
				margin-top:-47px;
				@include transition(0.2s);  
			}
		}
		
		.group-expenses-add {
			&__description{
				box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
				margin-top: 10px;
				@include transition(0.2s);
				
				&-title {
					border-bottom: 0;
					input {
						font-weight: 400;
						font-size:22px;
					}
				}
				
				div {
					line-height: 45px;
					input {
						text-align: center;
						width: 96%;
						&::placeholder {
							color: #B0B1AE;
						}
					}
				}
				
				&-price {
					input {
						font-size: 35px;
						font-weight: 600;
					}
				}
			}
		}
		
		.screen-header {
			position: fixed;
			top:0;
			z-index: 10;
			
			&.scrolled {
				.screen-header__navigation {
					height: 80px;
// 					height: 50px;
					
					.usr-name {
						display: inline-block;
						display: none; 
					}
				}
			
				.user-expense {
					img {
						max-width: 0;
						@include transform(scale(0.0)); 
					}
				}
				
				.user-name {
					position: absolute;
					width: 100%;
					top: 40px;
					color: white;
					padding: 0;
// 					display: none;
				}
				
				.group-expenses-add {
					&__description {
						margin-top:-20px;
						margin-bottom: 0;
						padding-bottom: 5px;
						
						div {
							display: inline-block;
							width: 45%;
						}
					}
				}
			}
		}
		
		.screen-body {
			position: relative;
			margin-top:370px;
			padding-bottom: 20px;
		}
				
	}
}