.group-add {
	position: fixed;
	box-shadow: $list-item-box-shadow;
	bottom:-100%;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	-webkit-transition: 0.4s;
	transition: 0.4s;	
	
	&.visible {
		bottom:0;
	}
	
	.screen-header__title {
// 		display: none;
	}
	
	.group-name {
		padding-bottom: 0px;		
		font-size: 1rem;
		line-height: 3rem;
		font-weight: 600;
		text-align: left;
		background: white;
		input {
			text-align: left;
			padding-left: 15px;
			border: transparent;
			background: transparent;	
			color: black;	
			outline: none !important;
			&::placeholder {
// 				color: black;
// 				color: rgba(255,255,255, 1);
			}	
		}
	}
	
	h4 {
	    text-transform: uppercase;
// 	    padding: 15px 0 0;
	    font-size: 0.7rem;		
	}	
	
	.currency {
		display: flex;
		justify-content: space-between;
		background: white;
		line-height: 50px;
		padding: 0 15px;
		border-bottom: 1px solid $border-color;
		border-top: 1px solid $border-color;
		font-weight: 500;
		svg {
			width: 13px;
			height: 13px;
		}
	}
	
	&__color {
		margin-top: 15px;
		padding:  0 15px;
		&-list {
			list-style: none;
			padding: 0;
			min-height: 50px;
			margin-top:15px;
			background: white;
			box-shadow: $list-item-box-shadow;
			padding: 15px;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			li {
				display: inline-block;
				background: gray;
				border-radius: 100%;
				width: 35px;
				height: 35px;
				margin: 0 10px 0 0;
				box-shadow: $list-item-box-shadow;
				cursor: pointer;
				vertical-align: middle;
				-webkit-transition: 0.3s;
				transition: 0.3s;
				
				
				&.red {
					background: linear-gradient(to bottom, $red, $light-red);
				}
				&.blue {
					background: linear-gradient(to bottom, $blue, $light-blue);
				}
				&.green {
					background: linear-gradient(to bottom, $green, $light-green);
				}	
				&.yellow {
					background: linear-gradient(to bottom, $yellow, $light-yellow);
				}											
				
				&.active {
// 					border: 3px solid white;
					width: 40px;
					height: 40px;
					margin: 0 10px 0 0;
					position: relative;
					
					&:after {
						content: " ";
						position: absolute;
						top:-5px;
						left: -5px;
						width: 50px;
						height: 50px;
						background: transparent;
						border: 1px solid #585757; 
						border-radius: 100%;
					}
				}
			}
		}
	}
	
	&__participants {
		padding:  0 15px;
		
		.box {
			margin-top:15px;
			h4 {
				padding-top:0;
				padding-bottom: 10px;
			}
		}
		.group-list__item__participants__items__item {
			position: relative;
			opacity: 0.2;
			-webkit-transition: 0.3s;
			transition: 0.3s;
			cursor: pointer;
			.check-label{
				width: 15px;
				height: 15px;
				border-radius: 100%;				
				position: absolute;
				top:-4px;
				right: -4px;
				display: none;
				background: #5CAC4C;
// 				border: 1px solid #585757;
				
				svg {
					width: 7px;
					height: 7px;
					margin-top:-8px;
					display: none;
				}
				
				&:before {
					content: " ";
					display: block;
					width: 8px;
					height: 8px;
					background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2232.229px%22%20height%3D%2232.229px%22%20viewBox%3D%220%200%2032.229%2032.229%22%20style%3D%22enable-background%3Anew%200%200%2032.229%2032.229%3B%22%0D%0A%09%20xml%3Aspace%3D%22preserve%22%20fill%3D%22white%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20d%3D%22M31.496%2C9.374L14.477%2C26.391c-0.469%2C0.471-1.104%2C0.732-1.768%2C0.732c-0.664%2C0-1.299-0.263-1.768-0.732L0.733%2C16.183%0D%0A%09%09c-0.978-0.976-0.978-2.559%2C0-3.534c0.977-0.977%2C2.559-0.977%2C3.535%2C0l8.44%2C8.439l15.25-15.25c0.977-0.977%2C2.559-0.977%2C3.534%2C0%0D%0A%09%09C32.473%2C6.815%2C32.473%2C8.398%2C31.496%2C9.374z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
						background-repeat: no-repeat;	
						background-size: cover;		
						position: absolute;
						top:50%;
						left: 50%;
						margin-top: -4px;
						margin-left: -4px;		
				}
			}
			
			&.checked {
				opacity: 1;
				.check-label {
					display: block;
				}
			}
		}
		
/*
		&[data-color="red"] {
			.check-label{
				background: $red;				
			}
		}
		&[data-color="blue"] {
			.check-label{
				background: $blue;				
			}
		}
		&[data-color="green"] {
			.check-label{
				background: $green;				
			}
		}
		&[data-color="yellow"] {
			.check-label{
				background: $yellow;				
			}
		}	
*/					
	}
	
	&__contacts {
		margin-top:1rem;
		display: flex;
		justify-content: space-between;
		border-top:1px solid $border-color;
		padding-top: 15px;
	}
	
	.footer-button {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		z-index: 0;
		
		svg {
			width: 11px;
			height: 11px;
			margin-right: 5px;
		}
		
		&[data-color="red"] {
			svg {
				fill: $red;
			}
		}
		&[data-color="blue"] {
			svg {
				fill: $blue;
			}
		}
		&[data-color="green"] {
			svg {
				fill: $green;
			}
		}
		&[data-color="yellow"] {
			svg {
				fill: $yellow;
			}
		}						
	}
}


.test-add-group {
	    -webkit-transition: 0.3s;
	    transition: 0.3s;	
		background: $bg-color;
		overflow: scroll;
		
		.screen-header {
			position: fixed;
			top:0;
			left: 0;
			width: 100%;
			text-align: center;
			color: black;
			width: 100%;
			color: white;					
				
				&__navigation {
					width: 100%;
					line-height: 3rem;
				    display: flex;
				    justify-content: space-between;			
				}
				&__title {
					font-size: 1.1rem;
				}			
		}	
		&[data-color="red"] { 
			background:  linear-gradient(to bottom, $red, $light-red);
			background: $red;
		}
		&[data-color="blue"] { 
			background:  linear-gradient(to bottom, $blue, $light-blue);
			background: $blue;
		}
		&[data-color="green"] { 
			background:  linear-gradient(to bottom, $green, $light-green);
			background: $green;
		}
		&[data-color="yellow"] { 
			background:  linear-gradient(to bottom, $yellow, $light-yellow);
			background: $yellow;
		}
		
		.group-name {
			background: transparent;
			font-size: 1.8rem;
			text-align: center;
			margin-top:200px;
			input {
				background: transparent;
				text-align: center;
				padding: 0;
				color: white;
				font-weight: 600;
				&::placeholder {
					color: white;
				}
			}
		}
		
		.screen-body {
			height: calc(100% - 350px);
		}
		
		.group-add__color {
			background: white;
// 			position: absolute;
			bottom: 55px;
			width: 100%;
			text-align: center;
			padding: 15px 0 10px;
			&-list {
				padding: 0;
				-webkit-box-shadow:0 0 0 rgba(0, 0, 0, 0.1) !important;
				box-shadow: 0 0 0 rgba(0, 0, 0, 0.1) !important;
				background: transparent;
				margin: 0;
				
				li {
					width: 40px;
					height: 40px;
					&:after {
// 						border-color: white;
					}
					&.active {
						width: 45px;
						height: 45px;
						&:after {
							width: 55px;
							height: 55px;
						}
					}
				}
			}
		}
		
		.currency {
			width: 100%;
			position: absolute;
			bottom: 55px;
			display: block;
			text-align: center;
			display: none;
			>div {
				display: inline-block;
				svg {
					margin-left: 2px;
				}
			}
			
			.currency__title {
				display: none;
			}
		}
		
		.footer-button {
			position: relative;
			background: white;
			line-height: 3.8rem;
			height: 62px;
			border-bottom: 1px solid #ebebeb;
			a {
				color: black;
				display: inline-block;
				width: 49%;
				font-size: 1rem;
				&.left {
					float: left;
					border-right: 1px solid #ebebeb;
				}
				&.right {
					float: right;
					border-bottom: 2px solid $red;
				}
					>svg {
						fill: black !important;
						width: 13px;
						height: 13px;
						margin-left: 5px;
					}				
			}
			svg {
				width: 20px;
				height: 20px;
				margin-left: 10px;
			}
		}	
		
		.participants {
			background: white;
			
			.box {
				box-shadow: 0 0 0 rgba(0,0,0, 0.0) !important;
				padding: 0;
			}
			
			.group-add__participants {
				padding: 20px 20px 200px;
				
				h4 {
					padding-bottom: 20px;
					display: none;
				}
				
				.group-add__contacts {
					border: 0;
				}
				
				.group-list__item__participants__items__item {
					position: relative;
					.check-label {
						width: 60px;
						height: 60px;
						border-radius: 100%;
						background: transparent;
						border: 1px solid green;
						position: absolute;
						top:-3px;
						left: -3px;
						svg {
							display: none;
						}
						&:before {
							display: none;
						}
					}
				}
				
				.group-add__contacts-item {
					font-weight: 600;
				}
			}
		}		
}